@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html,
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: rgb(199, 199, 199) rgb(136, 136, 136);
}



body::-webkit-scrollbar {
  width: 10px;
}


body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 5px;
}


body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#my-drawer:focus-visible+div label {
  outline-color: currentColor;
  outline: auto;
}

main a:hover img {
  transition: all 0.2s ease-in-out;
  transform: scale(1.5, 1.5);
}

main .category {
  @apply relative;
  left: -10px;
  z-index: 10;
  @apply dark:bg-white;
  @apply dark:text-gray-950;
  @apply bg-slate-950;
  @apply text-gray-50;
  @apply hover:text-gray-300;
  @apply dark:hover:text-stone-400;
  @apply pl-2;
  @apply pr-2;
  @apply pt-1;
  @apply pb-1;
}


.category-picture {
  top: 10px;
}

main a {
  @apply hover:text-stone-500;
  @apply dark:hover:text-stone-400;
}

main a article {
  @apply mt-1;
}

main a article p {
  @apply text-sm;
}



.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  @apply dark:bg-neutral-600;
  @apply dark:text-white;
  @apply dark:shadow-3xl;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  @apply dark:shadow-4xl;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.disabledButton:hover{
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  @apply dark:shadow-3xl;
  transform: translateY(0);
}

.disabledButton:active{
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  @apply dark:shadow-3xl;
  transform: translateY(0);
}


.checkbox-wrapper-62 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-62 *,
.checkbox-wrapper-62 ::after,
.checkbox-wrapper-62 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-62 {
  position: relative;
  display: block;
  overflow: hidden;
}

.checkbox-wrapper-62 .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-62 .label1 svg {
  vertical-align: middle;
}

.checkbox-wrapper-62 .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s all;
}

.checkbox-wrapper-62 .check:checked+label svg g path {
  stroke-dashoffset: 0;
}




.author img{
  clip-path: circle(35%);
}

.author:hover img{
  transform: none;
}

/*newarticle page, paragraph placeholder*/
.placeholder{
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100%' width='100%'><text x='50%' y='50%' fill='gray' font-size='40'>Text</text></svg>");
}

.youtube-iframe iframe{
  aspect-ratio: 16/9;
}
video{
  aspect-ratio: 16/9;
}

.pinterest-post{
  aspect-ratio: 328/532;
}


/*input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}*/
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background-color: white ;
  border-radius: 3px;
}


input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
input[type="range"]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

